{% extends 'base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block head %}

{% endblock %}

{% block main_content %}
    <form class="table-responsive" method="POST" action="{{ url_for('run_scenarios.run_multiple_scenarios') }}">
        <div id="card-run" class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">{{ page_title }}</h4>
                {{ form.csrf_token }}
                <table id="table" class="table" aria-describedby="Features table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Configuration</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-4">
                                {{ form.conf_properties(class_="form-select") }}
                            </td>
                            <td class="col-4"></td>
                            <td class="col-4">
                                <button class="btn btn-primary mb-2 py-2 float-end" type="submit" id="runExecution">
                                    <i class="bi bi-play-fill"></i>
                                    Run scenarios
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="card-home" class="card  mb-4">
            <div class="card-body">
                <h4 class="card-title required">Select Scenarios</h4>
                <div class="mx-1 mt-4 table-responsive">
                    <table id="features-table" class="table table-hover" aria-labelledby="features-table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Selected</th>
                            <th scope="col">Feature</th>
                            <th scope="col">Tags</th>
                            <th scope="col">Scenario name</th>
                            <th scope="col">Details</th>
                        </tr>
                        </thead>

                        {% for feature in data.files.values() %}
                            {% for idx, scenario in feature['scenarios'].items() %}
                                <tr>
                                    <td class="col-1">
                                        <input class="form-check" type="checkbox" value="{{ scenario['scenario_name'] }}" name="Scenario">
                                    </td>
                                    <td>
                                        {{ feature['filename'] }}
                                    </td>
                                    <td>
                                        {% if scenario['scenario_tags']|count > 0 %}
                                            {% for tag in scenario['scenario_tags'] %}
                                                <span class="text-primary">@{{ tag }}</span><br>
                                            {% endfor %}
                                        {% else %}
                                            <span class="text-primary">-</span><br>
                                        {% endif %}

                                    </td>
                                    <td>
                                        {{ scenario['scenario_name'] }}
                                    </td>
    {#                                <td>#}
    {#                                    {% for description in scenario['scenario_description'] %}#}
    {#                                        {{ description }}#}
    {#                                    {% endfor %}#}
    {#                                </td>#}
                                    <td colspan="2">
                                        <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                                                data-bs-target="#show_details"
                                                data-bs-feature-file="{{ feature['filename'] }}.feature"
                                                data-bs-feature-scenario="{{ idx }}"
                                                title="Feature Details">
                                            <i class="bi bi-file-text"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </form>


    <!-- Modal -->
    <div class="modal fade w-100" id="alertModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Action Required</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span class="text-danger h4"> [@tag]</span><span
                        class="h4"> is required to execute the scenario.</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Running-->
    <div class="modal fade w-100" id="runningModal" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="spinner-border text-primary" role="status"></div>
                    <span class="mt-2 text-primary h2">Running...</span><br>
                </div>
                <div class="modal-body text-center">
                    <span class="h4">Please wait</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Details Modal-->
    <div class="modal fade" id="show_details" tabindex="-1" aria-labelledby="detailsModal" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModal">New message</h5>
                </div>
                <div class="modal-body">
                    <div id="modalFeatureDetail"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/run.js') }}"></script>
    <script src="{{ url_for('static', filename='js/feature_detail.js') }}"></script>
    <script>
        set_features_data({{data.files | tojson}})
        pid = {{ pid }}
        portal_running = '{{portal_running}}'
    </script>
{% endblock %}