{% extends "base_template.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row results">
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title">{{_('Features')}}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                            {% with
                                chart_id='features_chart',
                                labels=[_('Passed'), _('Failed')],
                                values=[
                                    global_data.results.features_passed,
                                    global_data.results.features_failed,
                                ],
                                colors=[
                                    "#21c576","#ed1919"
                                ],
                                total_value=global_data.results.total_features
                            %}
                                {% include "chart_template.html" %}
                            {% endwith %}
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-2">
                            <p>{{_('Status')}}</p>
                            <p>
                                <i class="status-passed-icon"></i>
                                {{_('Passed')}}
                            </p>
                            <p>
                                <i class="status-failed-icon"></i>
                                {{_('Failed')}}
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>{{_('Progress')}}</p>
                            <p>{{global_data.results.features_passed_percent}} %</p>
                            <p>{{global_data.results.features_failed_percent}} %</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title">{{_('Scenarios')}}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% with
                                chart_id='scenarios_chart',
                                labels=[_('Passed'), _('Failed')],
                                values=[
                                    global_data.results.passed_scenarios,
                                    global_data.results.failed_scenarios,
                                ],
                                colors=[
                                    "#21c576","#ed1919"
                                ],
                                total_value=global_data.results.total_scenarios
                            %}
                                {% include "chart_template.html" %}
                            {% endwith %}
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-2">
                            <p>{{_('Status')}}</p>
                            <p>
                                <i class="status-passed-icon"></i>
                                {{_('Passed')}}
                            </p>
                            <p>
                                <i class="status-failed-icon"></i>
                                {{_('Failed')}}
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>{{_('Progress')}}</p>
                            <p>{{global_data.results.scenarios_passed_percent}} %</p>
                            <p>{{global_data.results.scenarios_failed_percent}} %</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title">{{_('Run Info')}}</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td>{{_('Total Features')}}:</td>
                                <td>{{global_data.results.total_features}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Total Scenarios')}}:</td>
                                <td>{{global_data.results.total_scenarios}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Scenarios passed')}}:</td>
                                <td>{{global_data.results.passed_scenarios}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Scenarios failed')}}:</td>
                                <td>{{global_data.results.failed_scenarios}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Total Steps')}}:</td>
                                <td>{{global_data.results.total_steps}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Steps passed')}}:</td>
                                <td>{{global_data.results.steps_passed}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Steps failed')}}:</td>
                                <td>{{global_data.results.steps_failed}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Execution start time')}}:</td>
                                <td>{{global_data.results.start_time|format_datetime}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Execution end time')}}:</td>
                                <td>{{global_data.results.end_time|format_datetime}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Environment')}}:</td>
                                <td>{{global_data.environment}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Version')}}:</td>
                                <td>{{global_data.version}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Application')}}:</td>
                                <td>{{global_data.application}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Business area')}}:</td>
                                <td>{{global_data.business_area}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Entity')}}:</td>
                                <td>{{global_data.entity}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Executed by user')}}:</td>
                                <td>{{global_data.user_code}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row overview">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{_('Features Overview')}}</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th>
                                    {{_('Feature name')}}
                                </th>
                                <th>
                                    {{_('Tags')}}
                                </th>
                                <th>
                                    {{_('Status')}}
                                </th>
                                <th>
                                    OS
                                </th>
                                <th>
                                    {{_('Driver')}}
                                </th>
                                <th style="text-align: center">
                                    {{_('Total Scenarios')}}
                                </th>
                                <th style="text-align: center">
                                    {{_('Scenarios passed')}}
                                </th>
                                <th style="text-align: center">
                                    {{_('Scenarios failed')}}
                                </th>
                                <th style="text-align: center">
                                    {{_('Total Steps')}}
                                </th>
                                <th style="text-align: center">
                                    {{_('Steps Passed')}}
                                </th>
                                <th style="text-align: center">
                                    {{_('Steps Failed')}}
                                </th>
                                <th style="text-align: center">
                                    {{_('Steps Skipped')}}
                                </th>
                                <th>
                                    {{_('Duration')}}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for feature in features %}
                            <tr>
                                <td><a href="./feature_{{feature.name|get_short_name}}.html">{{feature.name}}</a></td>
                                <td>
                                    <pre>{{feature.tags|join('\n')}}</pre>
                                </td>
                                <td class="text-center">
                                    <i class="status-{{feature.status}}-icon"></i>
                                </td>
                                <td>{{feature.operating_system}}</td>
                                <td>{{feature.driver}}</td>
                                <td style="text-align: center">{{feature.total_scenarios}}</td>
                                <td style="text-align: center">{{feature.passed_scenarios}}</td>
                                <td style="text-align: center">{{feature.failed_scenarios}}</td>
                                <td style="text-align: center">{{feature.total_steps}}</td>
                                <td style="text-align: center">{{feature.steps_passed}}</td>
                                <td style="text-align: center">{{feature.steps_failed}}</td>
                                <td style="text-align: center">{{feature.steps_skipped}}</td>
                                <td>{{feature.duration|get_duration}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}
